
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #212529;
    padding:15px 200px;
}
.navmain p{
    color:white ;
   font-size: 22px;
    margin: 0;
}
.navbar a{
  font-size: 16px;
color: rgba(255, 255, 255, 0.55);
margin-right: 20px;
}
.navbar a:hover{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.75);
    transition: 0.5s;
}
.navbar a.active{
    color: white;
}